body{
	background: #ffffff; 	/* white */
	color: #333333;	/* Black */ 
	font-family: Arial, Helvetica, sans-serif;	/* If the browser does not supports the 
												first font it will choose next and so on */
	font-size: 14px;											
}

html, body, div, a{
	margin: 0;
	padding: 0;
	border: 0;
	font:inherit;
	font-size: 100%;
	vertical-align: baseline;	/* The vertical-align property sets the vertical alignment of an element. */
}

*:after, *:before{
	box-sizing: border-box;		/* Applying this is safe and wise on all elements
								as many form elements looks different at width 100% */
}

#eheader{
	min-width: 610px;
	position: relative;
	border-top: 4px solid #BB0D02;	/* red */
	padding-top: 0px;
}

#eheader #topRibbon{
	font-size: 11px;
	background-color: yellow; /* #ffffff; */		/* white */
	position: relative;
	line-height: 13px;
	min-height: 31px;
	z-index: 13;
}

.headerContainer, .footerContainer{
	width: 960px;
	/* margin: 0 auto; */
}

#eheader #authNav a{
	text-decoration: none;
	/* margin: 0 auto; */
	cursor: pointer;
}

#eheader #authNav ol,ul{
	list-style: none;
}

#eheader #authNav > div{
	float: left;
}

#eheader #authNav > div ul{
	float: left;
}

#eheader #authNav > div ul li{
	float: left;
}


#eheader #authNav > div:before{
	content: "\007C";
	font-size: 11px;	/* same size as the font */
	font-weight: 500;
	color: #A4A3A3;		/* Grey */
	margin: 0px 0px 0px 0px;	/* top-right-bottom-left */
	float: left;	
}


























